<!DOCTYPE html>
<html lang="en" class="min-h-screen h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shareem</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body class="min-h-screen bg-gray-950 font-mono">
    <main class="">
      <div class="bg-gray-950">
        <div class="mx-auto max-w-7xl">
          <div class="bg-gray-950 py-10">
            <div class="px-4 sm:px-6 lg:px-8">
              <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                  <h1 class="text-4xl font-semibold leading-6 text-white">Sharem</h1>
                </div>
              </div>
              <div class="mt-10">
                <form action="/" method="POST">
                <div class="mt-10">
                  <form action="/" method="POST">
                    <div class="flex flex-col space-y-6"> <!-- Increased from space-y-4 to space-y-6 -->
                      <input type="url" name="url" id="url" class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-md sm:leading-6" placeholder="URL" required>

                      <textarea name="note" id="note" class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-md sm:leading-6" placeholder="Add a note (optional)"></textarea>

                      <button type="submit" class="block rounded-md bg-blue-800 text-nowrap px-4 py-2 text-center text-sm font-semibold text-white hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add Share</button>
                    </div>
                  </form>
                </div>
                </form>
              </div>

              <p class="mt-10 text-xl text-gray-300">
                {{ .Total }} shares have been added!
              </p>

              {{ if .Shares }}
              <div class="mt-4 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-700 table-auto">
                      <thead>
                        <tr>
                          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">URL</th>
                          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Note</th>
                          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Timestamp</th>
                        </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-800">
                        {{ range .Shares }}
                        <tr>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-blue-400 underline"><a href="{{ .Url }}" target="_blank">{{ .Url }}</a></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-400 break-words">{{ if .Note.Valid }}{{ .Note.String }}{{ else }}No note{{ end }}</td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-400">{{ .CreatedAt.Format "02 Jan 06 15:04 MST" }}</td>
                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
